@if (visible) {
    <main class="new-service-window">
        <div id="new-service-modal">
            <div id="new-service-header">
                <h1>
                New service
                </h1>
            </div>
            <div id="new-service-body">
                <form 
                    action="" 
                    id="new-service-data">
                    <label for="service-name">
                        Service name:
                    </label>
                    <input 
                        type="text" 
                        name="service-name" 
                        id="service-name">

                    <label for="service-name">
                        Service DNS:
                    </label>
                    <input 
                        type="text" 
                        name="service-dns" 
                        id="service-dns">
                </form>
            </div>
            <div id="new-service-footer">
                <button 
                    id="cancel-service-creation"
                    (click)="closeNewServiceWindow()">
                    Cancel
                </button>
                <button>
                    Create
                </button>
            </div>
        </div>
    </main>
}
